.form {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    color: rgb(42, 53, 71);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    padding: 32px;
    z-index: 1;
    width: 100%;
    max-width: 450px;
}
input {
    height: 40px;
}
