body {
  color: rgb(0, 96, 252);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.334rem;
  text-align: center;
  font-family:  Helvetica, Arial, sans-serif;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}